# Hack'n'Lead 2023 Womenplusplus Challenge

## Idea

The idea is to build engagement platform where participants, sponsors an partners can keep connected with non-profit organization, share they feedback and success stories or get a support in further development their career in tech or their tech businesses with new talents. Thanks to that they will as well contribute to assess the impact of initiatives run by non-profit organization. 

Note: For the purpose of the Hack'n'Lead  we narrowed the scope and focus only on event impact tracking based on Hack'n'Lead 2023.

The crucial point of that concept is to gather information from involved parties to measure direct impact and as well to find in the future new funding opportunites. In our narrowed approach we will gather iformation  through survey send after the event to participants, partners and sponsors to collect satisfaction rate (certificate of participation on LinkedId as incentive). Moreover, we will follow up with participants after three months to keep them connected and gather information how their situation changed over the time (if they find a job, changed profession, build a broader networking or advanced their skills thanks to the event and support from non-profit organization). This will biuld stronger relationship and engagement. To attract participants to give a feedback after three month non-profit can offer support from rectrureirs to review CV or invite for other networking even of interesting conference.

### DataBase

The cruccial component of the solution will be to have a DataBase to store information gathered from participants, sponsors and partners (in the future dB should be incorporated into engagement platform).
Data from survey will be read via API, stored into DataFrame, transformed and saved in DataBase. Then, data from DataBase will be further transfored to calculate figures for impact report and connected with front end solution. For POC purpose I build a DataBase in SQLite3 which should be replaced by DataBase cloude solution and fill with test data.

#### Create DB

In [1]:
import pandas as pd
import sqlite3

In [2]:
db_wpp = sqlite3.connect('db_wpp.db')
cursor = db_wpp.cursor()

In [3]:
query_ct_wpp_events = '''
CREATE TABLE wpp_EVENTS (
EVENT_ID INT,
EVENT_NAME TEXT,
DATE TEXT,
EVENT_DESC TEXT
);
'''
cursor.execute(query_ct_wpp_events)

In [4]:
query_ct_wpp_sponsors = '''
CREATE TABLE wpp_SPONSORS (
SPONSOR_ID INT,
SPONSOR_NAME TEXT
);
'''
cursor.execute(query_ct_wpp_sponsors)

In [5]:
query_ct_wpp_events_sponsors = '''
CREATE TABLE wpp_events_sponsors(
EVENT_ID INT,
SPONSOR_ID INT
);
'''
cursor.execute(query_ct_wpp_events_sponsors)

In [6]:
query_ct_wpp_users = '''
CREATE TABLE wpp_USERS (
EVENT_ID INT,
USER_NAME TEXT, 
USER_E_MAIL TEXT,
USER_GENDER TEXT,
USER_NATIONALITY TEXT
);
'''
cursor.execute(query_ct_wpp_users)

In [7]:
query_ct_wpp_survey_satisfaction = '''
CREATE TABLE wpp_survey_satisfaction (
EVENT_ID INT, 
USER_E_MAIL TEXT,
USER_PROF_STATUS TEXT,
USER_EVENT_EXPECT TEXT,
USER_EVENT_EXPECT_OTHER_DESC TEXT,
USER_SATISFACTION INT
);
'''
cursor.execute(query_ct_wpp_survey_satisfaction)

In [8]:
query_ct_wpp_survey_impact = '''
CREATE TABLE wpp_survey_impact (
EVENT_ID INT, 
USER_E_MAIL TEXT,
USER_PROF_STATUS TEXT,
USER_EVENT_IMPACT TEXT, 
USER_EVENT_IMPACT_OTHER_DESC TEXT,
USER_SATISFACTION INT
);
'''
cursor.execute(query_ct_wpp_survey_impact)

query_ct_wpp_drop = '''
DROP TABLE wpp_survey_impact;
'''
cursor.execute(query_ct_wpp_drop)

#### Insert into DB - test data

In target solution DB should be filled directly from survey through API or even directly connected to engagement platform. For POC I just fill tables in DB with test data.

In [9]:
# list of all created tabels
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
results = cursor.fetchall()
print(results)

[('wpp_EVENTS',), ('wpp_SPONSORS',), ('wpp_events_sponsors',), ('wpp_USERS',), ('wpp_survey_satisfaction',), ('wpp_survey_impact',)]

In [10]:
query_in_wpp_events = '''
INSERT INTO wpp_EVENTS 
SELECT '1' AS EVENT_ID,
       "Hack'n'Lead 2023" AS EVENT_NAME,
       '11-12.11.2023' AS DATE,
       'women-friendly hackathon' AS EVENT_DESC;
'''
cursor.execute(query_in_wpp_events)

In [11]:
query_in_wpp_sponsors = '''
INSERT INTO wpp_SPONSORS 
          SELECT '1' AS SPONSOR_ID,'Ginetta' AS PARTNER_NAME
UNION ALL SELECT '2' AS SPONSOR_ID,'SDX' AS PARTNER_NAME;
'''
cursor.execute(query_in_wpp_sponsors)

In [12]:
query_in_wpp_events_sponsors = '''
INSERT INTO wpp_events_sponsors
          SELECT '1' AS EVENT_ID,
              '1' AS SPONSOR_ID
UNION ALL SELECT '1' AS EVENT_ID,
              '2' AS SPONSOR_ID
;
'''
cursor.execute(query_in_wpp_events_sponsors)

In [13]:
query_in_wpp_users = '''
INSERT INTO  wpp_USERS 
SELECT '1' AS EVENT_ID,
       'Magdalena Czempas' AS USER_NAME, 
       'magdalena.czempas@gmail.com' AS USER_E_MAIL,
       'female' AS USER_GENDER,
       'Polish' as USER_NATIONALITY
UNION ALL SELECT '1' AS EVENT_ID,
       'Gabriel Brevi' AS USER_NAME, 
       'gabibrevi@gmail.com' AS USER_E_MAIL,
       'male' AS USER_GENDER,
       'Brazilian' as USER_NATIONALITY
UNION ALL SELECT '1' AS EVENT_ID,
       'Paul Janes' AS USER_NAME, 
       'paul_janes@hotmail.com' AS USER_E_MAIL,
       'male' AS USER_GENDER,
       'UK' as USER_NATIONALITY;
'''
cursor.execute(query_in_wpp_users)

In [14]:
query_in_wpp_survey_satisfaction = '''
INSERT INTO wpp_survey_satisfaction 
SELECT '1' AS EVENT_ID, 
       'magdalena.czempas@gmail.com' AS USER_E_MAIL,
       'Employed' AS USER_PROF_STATUS,
        'Networking, Job Search' AS USER_EVENT_EXPECT,
        '' AS USER_EVENT_EXPECT_OTHER_DESC,
        '4' AS USER_SATISFACTION 
UNION ALL SELECT '1' AS EVENT_ID, 
       'gabibrevi@gmail.com' AS USER_E_MAIL,
       'Looking for a job' AS USER_PROF_STATUS,
       'Networking, Job Search' AS USER_EVENT_EXPECT,
       'have a fun' AS USER_EVENT_EXPECT_OTHER_DESC,
       '5' AS USER_SATISFACTION 
UNION ALL SELECT '1' AS EVENT_ID, 
       'paul_janes@hotmail.com' AS USER_E_MAIL,
       'Looking for a job' AS USER_PROF_STATUS,
       'Networking, Job Search' AS USER_EVENT_EXPECT,
       '' AS USER_EVENT_EXPECT_OTHER_DESC,
       '3' AS USER_SATISFACTION 
;
'''
cursor.execute(query_in_wpp_survey_satisfaction)

In [15]:
query_in_wpp_survey_impact = '''
INSERT INTO wpp_survey_impact
            SELECT '1' AS EVENT_ID, 
                   'magdalena.czempas@gmail.com' AS USER_E_MAIL,
                   'Employed' AS USER_PROF_STATUS,
                   'I grew my network' AS USER_EVENT_IMPACT,
                   '' AS USER_EVENT_IMPACT_OTHER_DESC,
                   '4' AS USER_SATISFACTION
UNION ALL  SELECT '1' AS EVENT_ID, 
                  'gabibrevi@gmail.com' AS USER_E_MAIL,
                  'Employed' AS USER_PROF_STATUS,
                  'I found a job' AS USER_EVENT_IMPACT,
                  '' AS USER_EVENT_IMPACT_OTHER_DESC,
                  '5' AS USER_SATISFACTION
UNION ALL  SELECT '1' AS EVENT_ID, 
                  'paul_janes@hotmail.com' AS USER_E_MAIL,
                  'Looking for a job' AS USER_PROF_STATUS,
                  'I grew my network' AS USER_EVENT_IMPACT,
                  '' AS USER_EVENT_IMPACT_OTHER_DESC,
                  '3' AS USER_SATISFACTION
;
'''
cursor.execute(query_in_wpp_survey_impact)

#### Convert tables into DataFrames

In [16]:
df_wpp_USERS = pd.read_sql_query("SELECT * FROM wpp_USERS;", db_wpp)
df_wpp_EVENTS = pd.read_sql_query("SELECT * FROM wpp_EVENTS;", db_wpp)
df_wpp_survey_satisfaction = pd.read_sql_query("SELECT * FROM wpp_survey_satisfaction;", db_wpp)
df_wpp_survey_impact = pd.read_sql_query("SELECT * FROM wpp_survey_impact;", db_wpp)
df_wpp_events_sponsors = pd.read_sql_query("SELECT * FROM wpp_events_sponsors;", db_wpp)

In [17]:
df_wpp_sponsors = pd.read_sql_query("SELECT * FROM wpp_sponsors;", db_wpp)

#### Join tabels

In [18]:
df_wpp_FINAL = pd.merge(df_wpp_USERS, df_wpp_EVENTS, 
                        on='EVENT_ID', 
                        how='left')

In [19]:
df_wpp_FINAL = pd.merge(df_wpp_FINAL, df_wpp_survey_satisfaction, 
                        on=['USER_E_MAIL','EVENT_ID'],
                        how='left')

In [20]:
df_wpp_FINAL = pd.merge(df_wpp_FINAL, df_wpp_survey_impact, 
                        on=['USER_E_MAIL','EVENT_ID'],
                        how='left',
                        suffixes = ('_SAT', '_IMPACT'))

In [21]:
df_wpp_FINAL.head()

,EVENT_ID,USER_NAME,USER_E_MAIL,USER_GENDER,USER_NATIONALITY,EVENT_NAME,DATE,EVENT_DESC,USER_PROF_STATUS_SAT,USER_EVENT_EXPECT,USER_EVENT_EXPECT_OTHER_DESC,USER_SATISFACTION_SAT,USER_PROF_STATUS_IMPACT,USER_EVENT_IMPACT,USER_EVENT_IMPACT_OTHER_DESC,USER_SATISFACTION_IMPACT
0,1,Magdalena Czempas,magdalena.czempas@gmail.com,female,Polish,Hack'n'Lead 2023,11-12.11.2023,women-friendly hackathon,Employed,"Networking, Job Search",,4,Employed,I grew my network,,4
1,1,Gabriel Brevi,gabibrevi@gmail.com,male,Brazilian,Hack'n'Lead 2023,11-12.11.2023,women-friendly hackathon,Looking for a job,"Networking, Job Search",have a fun,5,Employed,I found a job,,5
2,1,Paul Janes,paul_janes@hotmail.com,male,UK,Hack'n'Lead 2023,11-12.11.2023,women-friendly hackathon,Looking for a job,"Networking, Job Search",,3,Looking for a job,I grew my network,,3

In [22]:
df_wpp_EVENTS_FINAL = pd.merge(df_wpp_EVENTS, df_wpp_events_sponsors, 
                        on='EVENT_ID', 
                        how='left')

In [23]:
df_wpp_EVENTS_FINAL = pd.merge(df_wpp_EVENTS_FINAL, df_wpp_sponsors, 
                        on='SPONSOR_ID', 
                        how='left')

In [24]:
df_wpp_EVENTS_FINAL.head()

,EVENT_ID,EVENT_NAME,DATE,EVENT_DESC,SPONSOR_ID,SPONSOR_NAME
0,1,Hack'n'Lead 2023,11-12.11.2023,women-friendly hackathon,1,Ginetta
1,1,Hack'n'Lead 2023,11-12.11.2023,women-friendly hackathon,2,SDX

#### Impact Measures Examples

In [32]:
df_wpp_FINAL[['EVENT_NAME','USER_SATISFACTION_IMPACT']].groupby('EVENT_NAME').mean()

                  USER_SATISFACTION_IMPACT
EVENT_NAME
Hack'n'Lead 2023                         4

In [44]:
df_wpp_FINAL[['EVENT_NAME','USER_EVENT_IMPACT','USER_NAME']].groupby(['EVENT_NAME','USER_EVENT_IMPACT']).count()

                                    USER_NAME
EVENT_NAME       USER_EVENT_IMPACT
Hack'n'Lead 2023 I found a job              1
                 I grew my network          2